define host {
	name			generic-brocade-dev-san-switch

	use			generic-server

	statusmap_image		base/switch40.gd2
	icon_image		base/switch40.png

	contact_groups		+brocade-dev-contacts
	hostgroups		+brocade-san-switches,brocade-dev-san-switches
}

define host {
	name			generic-brocade-prod-san-switch

	use			generic-server

	statusmap_image		base/switch40.gd2
	icon_image		base/switch40.png

	contact_groups		+brocade-prod-contacts
	hostgroups		+brocade-san-switches,brocade-prod-san-switches
}

define host {
	name			generic-brocade-test-san-switch

	use			generic-server

	statusmap_image		base/switch40.gd2
	icon_image		base/switch40.png

	contact_groups		+brocade-test-contacts
	hostgroups		+brocade-san-switches,brocade-test-san-switches
}

